<div>
  <label>Environment</label>
  <pre>{{env | json}}</pre>
</div>
<br>
<h1>{{ title }}</h1>

<!-- <div class='container'>
  <div class='row'>
    <div class='col-lg-6'> -->
{{data}}
<!-- </div> -->
<!-- <div class='col-lg-6'> -->
<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
    [longitude]="m.lon" [iconUrl]="
      {
        url: m.isClicked ? 'http://team-scale.com/TestData/ng_text_v15/blue_marker.png' : 
                                        'http://team-scale.com/TestData/ng_text_v15/blue_marker.png',
        scaledSize: {
            width: 40,
            height: 40
        }
      }" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
    <agm-info-window>
      <strong>{{m.lat + ' ' + m.lon + ' ' + m.name}}</strong>
    </agm-info-window>
  </agm-marker> -->
  <!-- </div>
  </div>
</div> -->
<button class="button button--primary" (click)="showNotification( 'error', 'Whoops, something went wrong. Probably.' )">
  Error me!
</button>
<notifier-container></notifier-container>